body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }

.nav__item {
  margin: 0 20px 0 0; }

.nav__item:last-of-type {
  margin: 0; }

.nav__link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  color: black;
  text-transform: uppercase;
  line-height: 60px;
  padding: 23px 0; }

.nav__link:hover {
  color: #00acdc; }

.nav .is-active::after {
  content: "";
  display: block;
  position: absolute;
  background: #00acdc;
  border-radius: 8px;
  height: 4px;
  width: 36px;
  top: 56px; }

.nav .is-active {
  color: #00acdc; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 78px; }

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 944px; }

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 403px;
  background: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 15px 14px;
  line-height: 15px; }

.product__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product__img {
  width: 160px;
  height: 134px;
  margin: 15px 0 45px; }

.product__description {
  margin: 0;
  font-weight: 500;
  font-size: 12px; }

.product__item-code {
  margin: 5px 0 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px; }

.product__rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  margin-top: 15px; }

.product__stars-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-star {
  margin-right: 4px;
  background: url("../images/star-active.svg") no-repeat;
  height: 14px;
  width: 15px; }

.product-star-not-active {
  background: url("../images/star.svg") no-repeat; }

.product__rate {
  margin: 0;
  font-size: 11px;
  line-height: 13px; }

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px; }

.product__price-name {
  margin: 0;
  padding-bottom: 1px;
  font-size: 11px;
  line-height: 13px; }

.product__price-number {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.product__buy-button {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #00acdc;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 38px; }

.product__card:hover .product__buy-button {
  color: #00acdc;
  background: white;
  border: 1px solid #00acdc;
  border-radius: 5px; }

/*# sourceMappingURL=main.css.map */
